@CHARSET "UTF-8";
@IMPORT url("reset.css");
@IMPORT url("layout.css");

/*	현재문제
	1. 마우스 오버할때 세부 카테고리, css, java script필요 
	2. 개발자 도구로 뽑아온 컬러 적용하는 법 (해결)
	3. a태그 hidden 먹으면 하이퍼링크 안먹는데 글자 padding으로 먹여야 하나? 근데 패딩으로 하니까 글자가 왼쪽으로 안밀림, 왜 안가지??? (해결)
	4. 회원 메뉴(헤더상단)전체 크기 : width 219px 안으로 이미지가 다 들어와야 하는데 다 안들어옴. (해결)
	5. preate 로고 글자 text-intent 안먹는 문제 (해결)
	6. 컨텐트 영역의 사진을 헤더쪽 영역을 침범하여 배치하는 방법  (해결)
	7. 고객문의 버튼 점선이 잘려서 보임. 포토샵으로 다시 자르기 (해결)
*/
.hidden {
	display: none;
}

.button {
	border: 0;
	display: inline-block;
	text-indent: -200px;
	overflow: hidden;
	white-space: nowrap;
}

.button:hover {
	cursor: pointer;
}

/* 회원 메뉴 */
/* 회원 로그인 메뉴의 li 공통 부분 적용 */
#member-menu li {
	margin-left: 12px;
	float: left;
	height: 35px;
	top: 19px;
	bottom: 8px;
	right: 0px;
	display: inline-block;
	text-indent: -100px;
	overflow: hidden;
}

#member-menu li:HOVER {
	cursor: pointer;
}

/* 회원 로그인 메뉴 버튼이미지넣기 */
.login-button {
	width: 54px;
	height: 23px;
	background: url("../images/btn-login.png") no-repeat
		bottom;
	float: left;
}
.logout-button{
	width: 64px;
	height: 23px;
	background: url("../images/btn-logout.png") no-repeat
		bottom;
	float: left;
}
/* #member-menu ul li:first-child {
	background: url("${ctxName}/resource/images/btn-login.png") no-repeat center;
	width: 54px;
} */
.join-button {
	width: 64px;
	height: 23px;
	background: url("../images/btn-join.png") no-repeat
		bottom;
	float: left;
}
/* #member-menu ul li:first-child+li {
	background: url("${ctxName}/resource/images/btn-join.png") no-repeat center;
	width: 64px;
} */
.mypage-button {
	width: 75px;
	height: 23px;
	background: url("../images/btn-mypage.png") no-repeat
		bottom;
	float: left;
}
/* #member-menu ul li:first-child+li+li {
	background: url("${ctxName}/resource/images/btn-mypage.png") no-repeat center;
	width: 75px;
} */
/* 회원 로그인 메뉴의 로그인 버튼만 레프트패딩 없애기 */
#main-manu ul li:first-child {
	padding-left: 0px;
	background: none;
}

/* 메인메뉴 */
/* 메인 메뉴 h1 공통부분 적용 */
/* #aside nav>h1 {
	width: 110px;
	height: 99px;
	float: left;
} */

/* 메인 메뉴 이미지 넣기 */
/* #aside nav>h1:nth-child(1) { */
/* #aside nav>h1:FIRST-CHILD { */
.project-reg-button{
	background: url("../images/menu-projectReg.png")
		no-repeat center;
	display: inline-block;
	width: 110px;
	height: 99px;
	float: left;
}

/* #aside nav>h1:nth-child(2) { */
/* #aside nav>h1:FIRST-CHILD+h1 { */
.project-search-button{
	background: url("../images/menu-projectSearch.png")
		no-repeat center;
	display: inline-block;
	width: 110px;
	height: 99px;
	float: left;
}

/* #aside nav>h1:nth-child(3) { */
/* #aside nav>h1:FIRST-CHILD+h1+h1 { */
.portfolio-button{
	background: url("../images/menu-portfolio.png")
		no-repeat center;
	display: inline-block;
	width: 110px;
	height: 99px;
	float: left;
}

/* #aside nav>h1:nth-child(4) { */
/* #aside nav>h1:FIRST-CHILD+h1+h1+h1 { */
.cummunity-button{
	background: url("../images/menu-community.png")
		no-repeat center;
	display: inline-block;
	width: 110px;
	height: 99px;
	float: left;
}

/* #aside nav>h1:nth-child(6) { */
/* #aside nav>h1:FIRST-CHILD+h1+h1+h1+ul+h1 { */
.my-project-button{
	background: url("../images/menu-myproject.png")
		no-repeat center;
	display: inline-block;
	width: 110px;
	height: 99px;
	float: left;
}

/* #aside nav>h1:nth-child(7) { */
/* #aside nav>h1:FIRST-CHILD+h1+h1+h1+ul+h1+h1 { */
.advertise-button{
	background: url("../images/menu-center.png") no-repeat
		center;
	display: inline-block;
	width: 110px;
	height: 99px;
	float: left;
}

/* #aside nav>h1:nth-child(8) { */
/* #aside nav>h1:FIRST-CHILD+h1+h1+h1+ul+h1+h1+h1 { */
.customer-qna-button{
	width: 220px;
	height: 77px;
	background: url("../images/menu-voc.png") no-repeat
		center;
	display: inline-block;
	float: left;
}

/* #aside nav>h1:nth-child(9) { */
/* #aside nav>h1:FIRST-CHILD+h1+h1+h1+ul+h1+h1+h1+h1 { */
.management-button{
	width: 72px;
	height: 36px;
	background: url("../images/menu-manage.png") no-repeat
		center;
	display: inline-block;
	float: left;
}

/* 컨텐트 배경 이미지 넣기 */


#main-content section {
	width: 1016px;
	padding-top: 24px;
	padding-left: 26px;
}

/* ------------------------------ Project 영역 ------------------------------ */

#project {
	height: 225px;
	background: url("../images/main-project-title.png") no-repeat top;
	margin-top: 9px;
}

#project ul{
	width: 300px;
	height: 185px;
	margin-top: 15px;
	margin-left: 11px;
	background: url("../images/main-project-view.png") no-repeat top;
	float: left;
} 

#project div{
	margin-left: 22px;
} 

#project li{
	margin-top: 20px;
	margin-left: 40px;
	line-height : 11px;
}

#project li a{
	font-family: 돋움, Arial, sans-serif;
	font-size:11px;
	color:#979797;
}

/* ------------------------------ Contest 영역 ------------------------------ */

#contest {
	height: 225px;
	background: url("../images/main-contest-title.png") no-repeat top;
	margin-top: 9px;
	overflow: hidden;
}

/* java script로 slide로 넘어가기 변경해야 함 */
#contest li{
	width: 924px;
	height: 195px;
	background: url("../../re/images/main-contest-title.png") no-repeat top;
	margin-top: 15px;
	margin-left: 33px;
}

/* ------------------------------ Notice 영역 ------------------------------ */

#notice {
	height: 225px;
	background: url("../images/main-notice-title.png") no-repeat top;
	margin-top: 9px;
}



#notice>table thead{
	display: inline-block;
}

#notice>table tbody{
	display: inline-block;
}

/* 공지게시판 제목 */

#notice tr{
	width: 924px;
	height: 30px;
	line-height: 30px;
	border-top: solid 1px #BDBDBD;


	display: inline-block;
}

#notice thead th{
	text-align: center;
	border-bottom: solid 1px #BDBDBD;
}

#notice th{
	background: #f5f5f5 url("../images/bg-title-sp.png") no-repeat left center;
}

#notice thead th:FIRST-CHILD{
	width: 62px;
	background: #f5f5f5 none;
}

#notice thead th:FIRST-CHILD + th{
	width: 100px;
}

#notice thead th:FIRST-CHILD + th + th{
	text-align: center;
	width: 600px;
}

#notice thead th:FIRST-CHILD + th + th + th{
	width: 100px;
}

#notice thead th:FIRST-CHILD + th + th + th + th{
	width: 62px;
}

/* 공지게시판 컨텐츠 */

#notice tbody td{
	text-align: center;
	border-bottom: solid 1px #BDBDBD;
}

#notice tbody td:FIRST-CHILD{
	width: 62px;
}

#notice tbody td:FIRST-CHILD + td{
	width: 100px;
}

#notice tbody td:FIRST-CHILD + td + td{
	text-align: left;
	width: 600px;
}

#notice tbody td:FIRST-CHILD + td + td + td{
	width: 100px;
}

#notice tbody td:FIRST-CHILD + td + td + td + td{
	width: 62px;
}
#notice table {
	width: 924px;
	height: 185px;
	margin-left: 33px;
	margin-top: 15px;
	border-collapse:collapse;
}






