<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration    
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
				<property name="url" value="jdbc:sqlserver://211.238.142.250:1433;databaseName=jassdb;"/>
				<property name="username" value="jass"/>
				<property name="password" value="jass150"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/jass/preate/dao/mybatis/mapper/AdvertiseDao.xml"/>
		<mapper resource="com/jass/preate/dao/mybatis/mapper/BoardAttachmentDao.xml"/>
		<mapper resource="com/jass/preate/dao/mybatis/mapper/BoardDao.xml"/>
		<mapper resource="com/jass/preate/dao/mybatis/mapper/CommentDao.xml"/>
		<mapper resource="com/jass/preate/dao/mybatis/mapper/CommentsCommentDao.xml"/>
		<mapper resource="com/jass/preate/dao/mybatis/mapper/ContestDao.xml"/>
		<mapper resource="com/jass/preate/dao/mybatis/mapper/CustomerServiceDao.xml"/>
		<mapper resource="com/jass/preate/dao/mybatis/mapper/FieldSelectDao.xml"/>
		<mapper resource="com/jass/preate/dao/mybatis/mapper/JoinRequestDao.xml"/>
		<mapper resource="com/jass/preate/dao/mybatis/mapper/MemberDao.xml"/>
		<mapper resource="com/jass/preate/dao/mybatis/mapper/MessageDao.xml"/>
		<mapper resource="com/jass/preate/dao/mybatis/mapper/NeedFieldDao.xml"/>
		<mapper resource="com/jass/preate/dao/mybatis/mapper/NoticeDao.xml"/>
		<mapper resource="com/jass/preate/dao/mybatis/mapper/PortfolioAttachedFileDao.xml"/>
		<mapper resource="com/jass/preate/dao/mybatis/mapper/PortfolioDao.xml"/>
		<mapper resource="com/jass/preate/dao/mybatis/mapper/ProjectCommentDao.xml"/>
		<mapper resource="com/jass/preate/dao/mybatis/mapper/ProjectDao.xml"/>
		<mapper resource="com/jass/preate/dao/mybatis/mapper/ScheduleDao.xml"/>
		<mapper resource="com/jass/preate/dao/mybatis/mapper/ScrapDao.xml"/>
	</mappers>
</configuration>